html, body, div, span, applet {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: gainsboro;
}
.title_section {
    text-align: center;
    font-family: 'Alkalami', serif;
    font-weight: lighter;
}
.user_prompt{
    padding-left: 20;
    padding-right: 20;
}