html, body, div, span, applet {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: gainsboro;
}
div.header {
    font-size: 200%;
}